Makefile
Makefile.in
autom4te.cache
config.h
config.log
config.status
libqmail.pc
libtool
stamp-h1
.libs
hasflock.h
hassgact.h
hassgprm.h
haswaitp.h
hasmkffo.h
hasbltnofl.h
select.h
uint32.h
uint64.h
libqmail.la
*.lo
*.o
*.BAK
RCS
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
RCS
debian.tar.gz
ChangeLog
debian/changelog
debian/changelog.in
debian/libqmail.dsc
libqmail.spec
conf-release
